<div class="footer">
    <table style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 40%;">
         </colgroup>
        <tr>
          <th>Tripzone</th>
          <th>MainOffices</th>
          <th>Sub Offices</th>
          <th>Disclaimer</th>
        </tr>
        <br>
        <tr>
          <td>About</td>
          <td>The United States</td>
          <td>Australia</td>
          <td>This layout is created as a part of Sirius UI Recuritments.</td>
        </tr>
        <tr>
          <td>Awards</td>
          <td>India</td>
          <td>England</td>
          <td>All the above content has no direct relation with Sirius</td>
        </tr>
        <tr>
            <td>Contact Us</td>
            <td>Brazil</td>
            <td>France</td>
            <td>business</td>
        </tr>
        <tr>
            <td>Feedback</td>
            <td>Canada</td>
            <td>Germany</td>
        </tr>
      </table>
    <!-- <p class="textStyle">Tripzone&nbsp;&nbsp;&nbsp;MainOffices&nbsp;&nbsp;&nbsp;SubOffices&nbsp;&nbsp;&nbsp;Disclaimer</p> -->
</div>